<section class="aboutUs">
  <div class="label">
    <h2 class="labelText">About Us</h2>
    <div class="labelSubText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</div>
  </div>
  <div class="people">
    <div class="person">
      <img src="./img/aboutUs/face1.jpg" alt="" class="face">
      <div class="shortInfo">
        <div class="name">Melannie Doe</div>
        <div class="position">Project Manager</div>
      </div>
      <div class="fullInfo">
        Ut wisi enim ad minim veniam,
        quis nostrud exerci tation
        ullamcorper suscipit lobortis nisl
        ut aliquip ex ea commodo
        consequat.
      </div>
      <div class="hoverSocial">
        <div class="hoverBody">
          <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
          <a href="https://habr.com/en/post/443728/"><i class="fab fa-google-plus-square"></i></a>
          <a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
    <div class="person">
      <img src="./img/aboutUs/face2.jpg" alt="" class="face">
      <div class="shortInfo">
        <div class="name">Jhonnie Doe</div>
        <div class="position">Graphic Designer</div>
      </div>
      <div class="fullInfo">
        Ut wisi enim ad minim veniam,
        quis nostrud exerci tation
        ullamcorper suscipit lobortis nisl
        ut aliquip ex ea commodo
        consequat.
      </div>
      <div class="hoverSocial">
        <div class="hoverBody">
          <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
          <a href="https://habr.com/en/post/443728/"><i class="fab fa-google-plus-square"></i></a>
          <a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
    <div class="person">
      <img src="./img/aboutUs/face3.jpg" alt="" class="face">
      <div class="shortInfo">
        <div class="name">Daniel Doe</div>
        <div class="position">Web Designer</div>
      </div>
      <div class="fullInfo">
        Ut wisi enim ad minim veniam,
        quis nostrud exerci tation
        ullamcorper suscipit lobortis nisl
        ut aliquip ex ea commodo
        consequat.
      </div>
      <div class="hoverSocial">
        <div class="hoverBody">
          <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
          <a href="https://habr.com/en/post/443728/"><i class="fab fa-google-plus-square"></i></a>
          <a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>