<section class="contactUs">
  <div class="label">
    <h2 class="labelText">Contact Us</h2>
    <div class="labelSubtext">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</div>
  </div>
  <div class="flexWrap">
    <form class="form">
      <input class="inputName" placeholder="Your name" type="text">
      <input class="inputEmail" placeholder="Your email" type="text">
      <textarea class="inputMessage" placeholder="Your message" type="text"></textarea>
      <button class="button">Submit</button>
    </form>
    <div class="info">
      <h3>Information</h3>
      <div class="address">
        Bak-One Company <br>
        12345 Hollywood Bvld Street <br>
        Los Angeles, California <br>
      </div>
      <div class="phone">+444 (Phone) 123456</div>
      <div class="fax">+123 (FAX) 0011223</div>
      <div class="email">info@bak-onecompany.com</div>
    </div>
  </div>
</section>