<header class="header">
  <div class="logo">
    <img src="./img/header/logo.png" alt="Logo" class="logoIcon">
    <div class="text">
      <div class="label">BAK-ONE</div>
      <div class="subtext">One Page Flat Template</div>
    </div>
  </div>
  <nav class="buttons menu">
    <button data-buttonTo="home" class="button">Home</button>
    <button data-buttonTo="portfolio" class="button">Portfolio</button>
    <button data-buttonTo="about" class="button">About</button>
    <button data-buttonTo="contact" class="button">Contact</button>  
  </nav>
  <div class="burger">
    <span class="burgerBody"></span>
  </div>
</header>