<section class="portfolio">
  <div class="label">
    <h2 class="labelText">Portfolio</h2>
    <div class="labelSubtext">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</div>
    <div class="sortButtons">
      <button data-sortPorf="all" class="sortButton active">All</button>
      <button data-sortPorf="web" class="sortButton">Web Design</button>
      <button data-sortPorf="graphic" class="sortButton">Graphic Design</button>
      <button data-sortPorf="flat" class="sortButton">Flat Design</button>
    </div>
  </div>
  <div class="portfolioItems">
    <div data-portfType="web" class="portfolioItem">
      <div class="hoverText">
        Example text
      </div>
      <img class="portfolioPoster" src="./img/portfolio/1.png" alt="">
    </div>
    <div data-portfType="web" class="portfolioItem">
      <div class="hoverText">
        Example text
      </div>
      <img class="portfolioPoster" src="./img/portfolio/2.png" alt="">
    </div>
    <div data-portfType="web" class="portfolioItem">
      <div class="hoverText">
        Example text
      </div>
      <img class="portfolioPoster" src="./img/portfolio/3.png" alt="">
    </div>
    <div data-portfType="graphic" class="portfolioItem">
      <div class="hoverText">
        Example text
      </div>
      <img class="portfolioPoster" src="./img/portfolio/4.png" alt="">
    </div>
    <div data-portfType="graphic" class="portfolioItem">
      <div class="hoverText">
        Example text
      </div>
      <img class="portfolioPoster" src="./img/portfolio/5.png" alt="">
    </div>
    <div data-portfType="graphic" class="portfolioItem">
      <div class="hoverText">
        Example text
      </div>
      <img class="portfolioPoster" src="./img/portfolio/6.png" alt="">
    </div>
    <div data-portfType="flat" class="portfolioItem">
      <div class="hoverText">
        Example text
      </div>
      <img class="portfolioPoster" src="./img/portfolio/7.png" alt="">
    </div>
    <div data-portfType="flat" class="portfolioItem">
      <div class="hoverText">
        Example text
      </div>
      <img class="portfolioPoster" src="./img/portfolio/8.png" alt="">
    </div>
  </div>
</section>